.keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 25rem;

  button {
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fcba29;
    width: 35px;
    padding: 10px;
    border-color: #d7d7d7;
    border-radius: 4px;
    user-select: none;
  }

  button.correct {
    background-color: #10a95b;
  }

  button.wrong {
    background-color: #ec5d49;
  }
}
